In [1]:
import pandas as pd
filename = "../data.csv"
#dara for tokenizer with eng comments
data = pd.read_csv(filename)


def is_english_letter(l):
    return 'a' <= str(l) <= 'z' or 'A' <= str(l) <= 'Z'


def is_blank(l):
    return l in [' ', '\n', '\t']


def is_english(text):
    if not isinstance(text, str):
        return False
    english = 0
    letters = 0
    for i in range (0, len(text)):
        if is_blank(text[i]): continue
        letters += 1
        if is_english_letter(text[i]):
            english += 1
    return english/letters > 0.8




# drop where !is_english
data = data[data['review'].map(is_english) == True]

# prepare target
data['helpful'] = data['helpful'] >= 1
data['helpful'] = data['helpful'].astype(int)
data['helpful'].value_counts()

0    373505
1     32772
Name: helpful, dtype: int64

In [2]:
save_num = data['helpful'].value_counts()[1] * 2
save_num

65544

In [3]:
# sort by target
data = data.sort_values(by='helpful')
data = data.tail(save_num)
data

        Unnamed: 0  helpful                                             review
105959      105959        0                           good game very toxic !!!
105958      105958        0  Product received for free. the most best game....
105957      105957        0                                   It's pretty fun.
105956      105956        0  Honestly a game that keeps on giving. So much ...
105955      105955        0  A really great game. It gave me and lots of my...
...            ...      ...                                                ...
249759      249759        1           Hit so high even it's still early access
249767      249767        1  EDIT PUBG team has really let me and many othe...
249768      249768        1  We shot each other in school 10/10 just like i...
249711      249711        1  good game. very fun to play and addictive.The ...
434890      434890        1  Don't listen to people who claim it's the game...

[65544 rows x 3 columns]

In [4]:
# shuffle
data = data.sample(frac=1).reset_index(drop=True)
data

       Unnamed: 0  helpful                                             review
0          108693        0                                   Interesting game
1          378652        1                                      this game god
2          146931        0  Definately the best in their series of GTA's. ...
3          146764        0  Probably one of the best games of the decade. ...
4          423258        0       It's kinda like watching your sister shower.
...           ...      ...                                                ...
65539      172456        1                                            its gud
65540      252973        1  Product received for free. 11/10 A really inte...
65541      126403        0      Anddd the modding community is dead take two.
65542      259153        1                                      Battle Royale
65543      128971        0  Had it for the ps3 ok but not the best. Got it...

[65544 rows x 3 columns]

In [5]:
data.to_csv("data3.csv")